body{
  font-family: 'Roboto', sans-serif;
}
.btn {
  outline: none !important;
  margin: 5px;
  padding: 10px 30px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  opacity: 0.8;
}
.btn:hover{
  opacity: 1;
}
